/* Write your CSS code here. */
.bg-container {
  background-image: linear-gradient(
    to right,
    #ffffff,
    #ffeeee,
    #ffebeb,
    #ffc0bb
  );
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.sub-container {
  background-color: #ffffff;
  width: 80%;
  max-width: 550px;
  height: 60%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .sub-container {
    padding: 32px;
  }
}

@media screen and (min-width: 992px) {
  .sub-container {
    padding: 64px;
  }
}

.heading {
  font-size: 18px;
  font-weight: 500;
  color: #0f172a;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .heading {
    font-size: 32px;
  }
}

.emoji-container {
  list-style-type: none;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin-top: 32px;
}

.list-item {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-card {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 768px) {
  .image-card {
    width: 70px;
    height: 70px;
  }
}

.name-card {
  color: #1e293b;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .name-card {
    font-size: 12px;
  }
}

.love-emoji-container {
  text-align: center;
  background-color: #ffffff;
  width: 80%;
  max-width: 550px;
  height: 60%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.love-image-card {
  width: 60px;
  height: 54px;
}

.thankyou-text {
  color: #1e293b;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
}
